/* Add these styles for the course detail page */
.course-detail {
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.course-detail h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.course-detail img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.course-detail p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.course-detail .course-detail-main {
  border-radius: 0px;
  width: 90%;
}

/* .course-detail-card-container {
  position: absolute;
} */

.course-detail-card-container .enroll-button {
  /* position: relative; */
  z-index: 10;
  padding: 10px 20px;
  font-size: 40px;
  color: white;
  background-color: transparent;
  border: 4px solid white;
  cursor: pointer;
  transition: background-color 1s ease, color 1s ease;
}