.instagram-handle-main {
    background-color: white;
    height: 100%;
    margin-bottom: 10vh;
}

.instagram-handle-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: 50px;
    height: fit-content;
    padding: 15px 30px 15px 30px;
    margin-bottom: 0;
}


@media (max-width: 768px) {

    .instagram-handle-title  {
        font-size: 30px;
        padding: 10px 20px 10px 20px;
    }

}